.board {
	height: 50%;
	width: 50%;
	display: inline-block;
	float: left;
	margin: 8%;
}
.card {
	height: 215px;
	width: 150px;
	background: url("http://i.imgur.com/oocnCWr.png");   
	margin: 7%;
	float: left;
}
.name {
	color: rgb(255, 255, 255);
}
nav {
	background: rgba(0,0,0,0.5);
	border-radius: 12px;
}
nav a {
	text-decoration: none;
	color: white;
	background: rgba(0,0,0,0.5);
	padding: 35px;
	display: block;
	float: left;
}
#round {
	border-radius: 12px 0px 0px 12px;
}
a:hover {
	background: rgba(0,0,0,1);
}
footer {
	background-color: #808080;
	clear:both;
	border-radius: 8px;
}
#clearToBottom {
	clear:both;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}
h1, h2, p, footer {
	text-align: center;
}
h1, h2, p {
	color: rgb(0,0,0);
	max-width: 500px;
	margin: 0 auto;
}
body {
     background: url("http://i.imgur.com/njy2YOB.png");
     background-position: center;
     color: white;
     font-family: 'Roboto Condensed', sans-serif; 
}